.merge-top-main {
  margin-top: 10px;
}
.merge-block {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(8, 25, 38, 0.8);
  border: 1px solid rgba(60, 166, 200, 0.7);
  box-shadow: 0 0 50px rgba(60, 166, 200, 0.4) inset;
  border-radius: 10px;
  box-sizing: border-box;
}
.merge-block > .header {
  height: 60px;
  padding: 0;
  margin: 0 0 0 20px;
  line-height: 60px;
}
.merge-block > .body {
  height: calc(100% - 60px);
}
.merge-block > .header >.header-title {
  color: white;
  font-size: 20px;
}
.num-nd, .num-rd {
  font-family: Square721;
}
@media (min-width: 1600px) {
  .font-st {
    font-size: 28px;
  }
  .font-nd {
    font-size: 26px;
  }
  .font-rd {
    font-size: 24px;
  }
  .font-rs {
    font-size: 22px;
  }
  .num-nd {
    font-size: 42px;
  }
  .num-rd {
    font-size: 34px;
  }
}
@media (min-width: 1920px) {
  .font-st {
    font-size: 20px;
  }
  .font-nd {
    font-size: 18px;
  }
  .font-rd {
    font-size: 16px;
  }
  .font-rs {
    font-size: 14px;
  }
  .num-nd {
    font-size: 32px;
  }
  .num-rd {
    font-size: 24px;
  }
}
@media (min-width: 2048px) {
  .font-st {
    font-size: 22px;
  }
  .font-nd {
    font-size: 20px;
  }
  .font-rd {
    font-size: 18px;
  }
  .font-rs {
    font-size: 16px;
  }
  .num-nd {
    font-size: 34px;
  }
  .num-rd {
    font-size: 26px;
  }
}
@media (min-width: 2304px) {
  .font-st {
    font-size: 26px;
  }
  .font-nd {
    font-size: 24px;
  }
  .font-rd {
    font-size: 22px;
  }
  .font-rs {
    font-size: 20px;
  }
  .num-nd {
    font-size: 42px;
  }
  .num-rd {
    font-size: 34px;
  }
}
@media (min-width: 2560px) {
  .font-st {
    font-size: 28px;
  }
  .font-nd {
    font-size: 26px;
  }
  .font-rd {
    font-size: 24px;
  }
  .font-rs {
    font-size: 22px;
  }
  .num-nd {
    font-size: 46px;
  }
  .num-rd {
    font-size: 38px;
  }
}
@media (min-width: 3072px) {
  .font-st {
    font-size: 32px;
  }
  .font-nd {
    font-size: 30px;
  }
  .font-rd {
    font-size: 28px;
  }
  .font-rs {
    font-size: 26px;
  }
  .num-nd {
    font-size: 52px;
  }
  .num-rd {
    font-size: 44px;
  }
}
@media (min-width: 3264px) {
  .font-st {
    font-size: 34px;
  }
  .font-nd {
    font-size: 32px;
  }
  .font-rd {
    font-size: 30px;
  }
  .font-rs {
    font-size: 28px;
  }
  .num-nd {
    font-size: 56px;
  }
  .num-rd {
    font-size: 48px;
  }
}
@media (min-width: 3552px) {
  .font-st {
    font-size: 36px;
  }
  .font-nd {
    font-size: 34px;
  }
  .font-rd {
    font-size: 32px;
  }
  .font-rs {
    font-size: 30px;
  }
  .num-nd {
    font-size: 60px;
  }
  .num-rd {
    font-size: 52px;
  }
}
@media (min-width: 3640px) {
  .font-st {
    font-size: 38px;
  }
  .font-nd {
    font-size: 36px;
  }
  .font-rd {
    font-size: 34px;
  }
  .font-rs {
    font-size: 32px;
  }
  .num-nd {
    font-size: 64px;
  }
  .num-rd {
    font-size: 56px;
  }
}
@media (min-width: 3840px) {
  .font-st {
    font-size: 40px;
  }
  .font-nd {
    font-size: 38px;
  }
  .font-rd {
    font-size: 36px;
  }
  .font-rs {
    font-size: 34px;
  }
  .num-nd {
    font-size: 70px;
  }
  .num-rd {
    font-size: 62px;
  }
}