.merge-top-main {
  margin-top: 10px;
}
.merge-block {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: rgba(8, 25, 38, 0.8);
  border: 1px solid rgba(60, 166, 200, 0.7);
  box-shadow: 0 0 50px rgba(60, 166, 200, 0.4) inset;
  border-radius: 10px;
  box-sizing: border-box;
}
.merge-block > .header {
  padding: 0;
  display: flex;
  align-items: center;
}
.merge-block > .header >.header-title {
  margin-left: 5px;
  color: white;
}
.font-gray {
  color: #7a939e;
}
.font-white {
  color: #fff;
}
.font-yellow {
  color: #FDCF53;
}
.font-green {
  color: #03A786;
}
.font-red {
  color: #ff6959;
}
.num-st, .num-nd {
  font-weight: bold;
}
.num-st, .num-nd, .num-rd, .num-rs {
  font-family: dinRegular;
}
.progress-circle {
  height: 100%;
  position: relative;
}
.progress-circle>.circle {
  height: 100%;
}
.progress-circle>.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-image: url(~@img/merge/bg_circle_glow_4k.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
}
.progress-circle>.text>div:last-child {
  margin-top: 10px;
}
@media (min-width: 1600px) {
  .font-st {
    font-size: 28px;
  }
  .font-nd {
    font-size: 26px;
  }
  .font-rd {
    font-size: 24px;
  }
  .font-rs {
    font-size: 22px;
  }
  .num-st {
    font-size: 48px;
  }
  .num-nd {
    font-size: 42px;
  }
  .num-rd {
    font-size: 34px;
  }
  .num-rs {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .font-st {
    font-size: 20px;
  }
  .font-nd {
    font-size: 18px;
  }
  .font-rd {
    font-size: 16px;
  }
  .font-rs {
    font-size: 14px;
  }
  .num-st {
    font-size: 38px;
  }
  .num-nd {
    font-size: 32px;
  }
  .num-rd {
    font-size: 24px;
  }
  .num-rs {
    font-size: 19px;
  }
}
@media (min-width: 2048px) {
  .font-st {
    font-size: 22px;
  }
  .font-nd {
    font-size: 20px;
  }
  .font-rd {
    font-size: 18px;
  }
  .font-rs {
    font-size: 16px;
  }
  .num-st {
    font-size: 40px;
  }
  .num-nd {
    font-size: 34px;
  }
  .num-rd {
    font-size: 26px;
  }
  .num-rs {
    font-size: 20px;
  }
}
@media (min-width: 2304px) {
  .font-st {
    font-size: 26px;
  }
  .font-nd {
    font-size: 24px;
  }
  .font-rd {
    font-size: 22px;
  }
  .font-rs {
    font-size: 20px;
  }
  .num-st {
    font-size: 48px;
  }
  .num-nd {
    font-size: 42px;
  }
  .num-rd {
    font-size: 34px;
  }
  .num-rs {
    font-size: 24px;
  }
}
@media (min-width: 2560px) {
  .font-st {
    font-size: 28px;
  }
  .font-nd {
    font-size: 26px;
  }
  .font-rd {
    font-size: 24px;
  }
  .font-rs {
    font-size: 22px;
  }
  .num-st {
    font-size: 52px;
  }
  .num-nd {
    font-size: 46px;
  }
  .num-rd {
    font-size: 38px;
  }
  .num-rs {
    font-size: 26px;
  }
}
@media (min-width: 3072px) {
  .font-st {
    font-size: 32px;
  }
  .font-nd {
    font-size: 30px;
  }
  .font-rd {
    font-size: 28px;
  }
  .font-rs {
    font-size: 26px;
  }
  .num-st {
    font-size: 58px;
  }
  .num-nd {
    font-size: 52px;
  }
  .num-rd {
    font-size: 42px;
  }
  .num-rs {
    font-size: 29px;
  }
}
@media (min-width: 3264px) {
  .font-st {
    font-size: 34px;
  }
  .font-nd {
    font-size: 32px;
  }
  .font-rd {
    font-size: 30px;
  }
  .font-rs {
    font-size: 28px;
  }
  .num-st {
    font-size: 62px;
  }
  .num-nd {
    font-size: 56px;
  }
  .num-rd {
    font-size: 46px;
  }
  .num-rs {
    font-size: 31px;
  }
}
@media (min-width: 3552px) {
  .font-st {
    font-size: 36px;
  }
  .font-nd {
    font-size: 34px;
  }
  .font-rd {
    font-size: 32px;
  }
  .font-rs {
    font-size: 30px;
  }
  .num-st {
    font-size: 66px;
  }
  .num-nd {
    font-size: 60px;
  }
  .num-rd {
    font-size: 50px;
  }
  .num-rs {
    font-size: 33px;
  }
}
@media (min-width: 3640px) {
  .font-st {
    font-size: 38px;
  }
  .font-nd {
    font-size: 36px;
  }
  .font-rd {
    font-size: 34px;
  }
  .font-rs {
    font-size: 32px;
  }
  .num-st {
    font-size: 70px;
  }
  .num-nd {
    font-size: 64px;
  }
  .num-rd {
    font-size: 54px;
  }
  .num-rs {
    font-size: 35px;
  }
}
@media (min-width: 3840px) {
  .font-st {
    font-size: 40px;
  }
  .font-nd {
    font-size: 38px;
  }
  .font-rd {
    font-size: 36px;
  }
  .font-rs {
    font-size: 34px;
  }
  .num-st {
    font-size: 76px;
  }
  .num-nd {
    font-size: 70px;
  }
  .num-rd {
    font-size: 60px;
  }
  .num-rs {
    font-size: 38px;
  }
}
/* 其他态势统计模块 */
.echarts-view {
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  background-color: rgba(8, 25, 38, 1);
  border: 1px solid rgba(60, 166, 200, 0.7);
  box-shadow: 0 0 50px rgba(60, 166, 200, 0.4) inset;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.echarts-view>.close {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.echarts-view>.header {
  padding-right: 8px;
  height: fit-content;
  flex-grow: 0;
}
.echarts-view>.body {
  width: 100%;
  padding-right: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}
.echarts-view table {
  table-layout : fixed;
  text-align: center;
  margin: auto;
  height: fit-content;
  border-color: rgba(60, 166, 200, 0.4);
}
.echarts-view table:last-child {
  margin-top: -2px;
}
.echarts-view td {
  padding: 5px 0;
}
/* 其他态势统计模块end */